body {
  background-color: #060102;
  background-image: linear-gradient(#8A1029, #060102 40%);
  color: white;
}

.title-background {
  background-color: transparent;
}

.song-name {
  font-size: 0.9rem;
}

.song-artists {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}


.row:hover {
  background-color: #383838;
}

/* search engine section layout */
.search-engine {
  padding-bottom: 30px;
}
.search-engine span {
  font-size: 14pt;
  padding-right: 1%;
}
.searchbox {
  width: 35%;
}
.searchbox:focus {
  outline: none;
}